*{
    background-color: beige;
    box-sizing: border-box;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: row;
}

.btcontainer{
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}

.subcontainer{
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    height: 100vh;
    width: 100vh;
    border: rgb(87, 62, 17) solid;
    border-radius: 10px;
    border-width: 6px;
}

.grid{
    flex: 1 1 6.25%;
    border-width: thin;
}

button{
    margin: 18px;
    width: 180px;
    height: 30px;
    border-radius: 20px;
    background: rgb(170, 170, 170);
    color: rgb(19, 28, 36);
    font-family: 'Audiowide', sans-serif;
    font-weight: bold;
}

.reset{
    color: rgb(34, 34, 9);
}

.header{
    font-family: 'Audiowide', sans-serif;
    font-size: 25px;
    padding: 20px 20px;
}

.colorpicker{
    display: inline;
    border-style: none;
    border-radius: 8px;
    border:rgb(34, 34, 9) dashed;
}

.colorpick{
    margin: 18px;
    width: 180px;
    height: 30px;
    color: rgb(19, 28, 36);
    font-family: 'Audiowide', sans-serif;
}